@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap" );
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
   overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo{
    font-family: 'poppins';
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size:70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
    color: #7f00ff;
}
.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 550px;
    width: 550px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, #7f00ff,pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, #7f00ff,pink);
    animation: object3 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object3{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 60%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff; 
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);    
}
button:hover{
    background-color: #7f00ff;
}
.download-button {
    background-color: #3d535f;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    padding: 8px 14px;
    margin: 40px 5px;
    text-decoration: none;
}

.download-button:hover {
    background-color: #7f00ff;
}
.download-button a {
    text-decoration: none;
    color: #fff;
}
.my-image {
  width: 150px;
  height: 150px;
  border-radius: 80px;
  background: url("D:\Website\Personal Porfolio\img.jpg"), lightgray 50% / cover no-repeat;
  float: right;
  position: fixed;
  right: 20px;
  top: 20px;
}
.my-image {
  width: auto;
  height: 250px;
  border-radius: 200px;
  background: url("D:\Website\Personal Porfolio\img.jpg"), pink 50% / cover no-repeat;
  float: right;
  position: absolute;
  right: 20px;
  top: 80px;
}
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
}

.about-content {
    width: 50%;
    padding: 10px;
}

.about-content h2 {
    font-size: 30px;
    color: #7f00ff;
}

.about-content p {
    font-size: 30px;
    color: #3d535f;
    margin-top: 15px;
    line-height: 1.5;
}
